table {
    width: 100%;
  }

.new{
  color: rgb(0, 0, 0);
  font-weight:500;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
  background-color: #fafafa
}


.containerTable{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  margin: 20px;  
}

.parrafoCaracteres{
  text-align: right;
}
/* 
rgb(226, 223, 223);
*/