<div class="containerTable" *ngIf="dataSource; else error">
  <h1>Mensajes Recibidos</h1>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="remitente">
      <th mat-header-cell *matHeaderCellDef> Remitente </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'new': element.read == false}"> {{element.remitente}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="mensaje">
      <th mat-header-cell *matHeaderCellDef> Mensaje </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'new': element.read == false}"
        (click)="markReadMessage(element.messageId,element.read)"> {{element.text}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'new': element.read == false}">
        {{element.createdAt|date:'d/M/yy, h:mm a'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>

<ng-template #error>
  <p>Se produjo un error en la carga de la tabla</p>
</ng-template>

<!-- a cada elemento de la fila aplico la clase new si mensaje es nuevo -->
<!-- si hago click en el mensaje hace un put al back y modifica el campo read del mensaje -->