

<div class="sidenav">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <!-- <div class="logo">
        <mat-icon>person</mat-icon>
        <p>logo puede ser</p>
    </div>
     -->
    <div class="containerButton">
        <a mat-button routerLink="/create" routerLinkActive="activebutton"><mat-icon>create</mat-icon>Redactar</a>
        <a mat-button routerLink="/inbox" routerLinkActive="activebutton"><mat-icon>inbox</mat-icon> Recibidos</a>
        <a mat-button routerLink="/sent" routerLinkActive="activebutton"><mat-icon>send</mat-icon>Enviados</a>
        <!-- <a mat-button color="warn" (click)="logout()"><mat-icon>logout</mat-icon>Logout</a> -->
    </div>
</div>

<!-- routerLinkActive="active" -->

<!-- routerLink="/logout" routerLinkActive="activebutton" -->