

<div class="sidenav">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <!-- <div class="logo">
        <mat-icon>person</mat-icon>
        <p>logo puede ser</p>
    </div>
     -->
    <div class="containerButton">
        <a mat-button routerLink="/create"><mat-icon>send</mat-icon>New</a>
        <a mat-button routerLink="/inbox"><mat-icon>inbox</mat-icon>Inbox</a>
        <a mat-button routerLink="/sent"><mat-icon>mail</mat-icon>Sent</a>
        <a mat-button color="warn" routerLink="/logout"><mat-icon>logout</mat-icon>Logout</a>
    </div>
</div>

<!-- routerLinkActive="active" -->