.messageContainer {
    position: absolute;
    bottom: 0px;
    margin: 20px;
    right: 10px;
    background-color: gray;
    padding: 8px;
    border-radius: 5px;
    color: whitesmoke;
    overflow-y: auto;
    max-height: 75px;
}

.containerLog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}