<mat-toolbar color="primary">
  <a mat-icon-button routerLink="/"><mat-icon>home</mat-icon></a>
  
  <span>My App</span>
  <span class="example-spacer"></span>
  <div class="userDash" *ngIf="logged">
    <span>{{username}}</span>
  </div>

  <div class="containerButtons" *ngIf="!logged">
    <a mat-button routerLink="/login">Log in</a>
    <a mat-raised-button color="accent" routerLink="/register">Sign Up</a>
  </div>
</mat-toolbar>

<!-- (click)="inputSideNav.toggle()" -->

<!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" >
  <mat-icon>menu</mat-icon>
</button> -->