<div class="containerNav">

    <app-toolbar (actionButton)="receiveEvent($event)"></app-toolbar>
    <!-- aca esta el titulo de la app, login, register, username -->
    <mat-sidenav-container class="example-container">

        <mat-sidenav #sidenav [mode]="isLargeScreen() ? 'side' : 'over'" [(opened)]="stateSidenav"
            *ngIf="getUsersService.toolbar()">
            <!-- aca va el [(opened)] -->
            <app-side-nav></app-side-nav><!-- ACA esta el menu de acciones -->
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
            <app-messages></app-messages>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>