<!-- <app-toolbar></app-toolbar>
<app-sidebar></app-sidebar> -->
<!-- <app-home></app-home> -->

<div class="containerNav">
    
<app-toolbar></app-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav #sideNav mode="side" opened >
        <app-side-nav></app-side-nav>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>


                <!-- <router-outlet></router-outlet> -->

                <!-- <app-toolbar></app-toolbar>
<h1>Este es el side bars</h1> -->

<!-- [inputSideNav]="sideNav" -->