<div id="containerForm">

    <form id="formularioRegister" [formGroup]="miFormulario" (ngSubmit)="register()">

        <mat-form-field appearance="outline">
            <mat-label for="lastName">Apellido</mat-label>
            <input matInput type="text" name="lastName" id="lastName" formControlName="lastName">
            <mat-hint *ngIf="validar('lastName')">El apellido debe tener al menos 5 letras</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label for="firstName">Nombre</mat-label>
            <input matInput type="text" name="firstName" id="firstName" formControlName="firstName">
            <mat-hint *ngIf="validar('firstName')">El nombre debe tener al menos 5 letras</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label for="username">Nombre de usuario</mat-label>
            <input matInput type="text" name="username" id="username" formControlName="username">
            <mat-hint *ngIf="validar('userName')">El nombre de usuario debe tener al menos 5 letras</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label for="password">Contraseña</mat-label>
            <input matInput type="password" name="password" id="password" formControlName="password" #password>
            <mat-hint *ngIf="validar('password')">Debe tener al menos 8 caracteres</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label for="confirmPassword">Repetir contraseña</mat-label>
            <input matInput type="password" name="confirmPassword" id="confirmPassword"
                formControlName="confirmPassword" pattern="{{password.value}}">
            <mat-hint *ngIf="validar('confirmPassword')">Las dos contraseñas deden ser iguales</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label for="country">Pais</mat-label>
            <mat-select formControlName="country">
                <mat-option *ngFor="let country of countries; let indice=index" [value]="country.country"
                    (click)="saveIndex(indice)">
                    {{country.country}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label for="city">Ciudad</mat-label>
            <mat-select formControlName="city">
                <mat-option *ngFor="let ciudad of ciudades2" [value]="ciudad">
                    {{ciudad}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-stroked-button color="primary">Registrarse</button>
    </form>
</div>